# 1. Introduction

Original notebook from https://github.com/rajathkmp/Python-Lectures 
Adapted by Sem Vijverberg for the series 'Python skills for research in Hydrology' for the master Hydrology at the Vrije Universiteit Amsterdam (2019).

Another great free resource to learn Python for Data Science is provided by edX. It discusses these Python basics in more detail. https://www.youtube.com/playlist?list=PL2fCZiDqOYYWvJSoIV9J3n-hlZIEoKEdu

#The Zen Of Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Jupyter notebooks
Jupyter notebooks combine the ability to make nice documentation in combination with python code, which is perfect for our needs in these tutorials and practicums.

Jupyter notebooks work with cells, each cell can be used to type either Python language or Markdown (text editing language).

## Jupyter notebook shortcuts
- Shift + Enter run the current cell, select below
- Ctrl/Cmd + Enter run selected cells
- Ctrl/Cmd + S save and checkpoint
- Enter take you into edit mode
- A insert cell above
- B insert cell below
- C copy selected cells
- V paste cells below
- Z undo cell deletion
- M change the cell type to Markdown
- Y change the cell type to Code
- H show all shortcuts

## Object types and variables

The Python language follows certain syntax rules and provides some basic functions (e.g. for loops, while loops, if statements, abs(), max(), etc..) and different object types (str, list, function, integer, float, class, dictionary, etc..) to write a code. 
You can view what object type you are dealing with by type( your_variable ):

### string

In [2]:
type('this is a string')

str

### Numbers

Commonly used number datatypes are: 
- integers (0, 1, 2, 3, .., 99)
- floats   (0.5, 1.9, 1E-9)
- boolean  (True, False)

In [3]:
print('integer number datatype (dtype):', type(10))
print('float number datatype (dtype):', type(10.0))
print('boolean datatype (dtype):', type(True))

integer number datatype (dtype): <class 'int'>
float number datatype (dtype): <class 'float'>
boolean datatype (dtype): <class 'bool'>

In programming, we can point to a value with a certain variable name. 
Assigning an object (the integer 10) to a variable name called 'variable_name_pointing_to'

In [4]:
variable_name_pointing_to = 10

In [5]:
type(variable_name_pointing_to)

int

## Dictionaries

Another object type in python is called a dictionary, and they consist of a key : value pair(s), for example:

In [6]:
d = {'key': 10}
print(type(d))
print(d)
print(d.keys())
print(d.values())
print(d.items())

<class 'dict'>
{'key': 10}
dict_keys(['key'])
dict_values([10])
dict_items([('key', 10)])

# Operators

## Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

Create two data series for arithmetic operations

In [ ]:
df1 = pd.DataFrame(
    np.arange(6).reshape(2, 3), columns=list("ABC"), index=["Tim", "Tom"]
)
df2 = pd.DataFrame(
    np.arange(9).reshape(3, 3), columns=list("ACD"), index=["Tim", "Kate", "Tom"]
)

In [ ]:
# add dataframes
df1 + df2

In [ ]:
# Divide
1 / df1

In [ ]:
# Multiply
df1*3

## Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [ ]:
# Set up variable
z = 1

In [ ]:
# Check if value equals to
z == 1

True

In [ ]:
# Check if value greater
z > 1

False

## Simplifying Arithmetic Operations

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [ ]:
print(round(5.6231) )
print(round(4.55892, 2))

6
4.56

**range( )** function outputs the integers of the specified range. It can also be used to generate a series by specifying the difference between the two numbers within a particular range. The elements are returned in a list (will be discussing in detail later.)

In [ ]:
print(range(3))
print(range(2,9))
print(range(2,27,8))

range(0, 3)
range(2, 9)
range(2, 27, 8)