### Exercise 1

In this exercise, you will reshape the analyst data to create a table summarizing supplies plant capacity, per plant, per year.

First things first - import the packages you are expecting to use for table manipulation

In [21]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

1. Load the dataset to be processed, and read the first 5 rows

In [3]:
dataset = pd.read_excel("data/20240407_BI_ETL_34_sanitized.xlsx")
dataset.head()

,Column1,Name,Plant,Year,2016,Confidence level,Source,Source year,2017,Confidence level2,...,Source year66,2039,Confidence level67,Source68,Source year69,2040,Confidence level3,Source4,Source year,Column5
0,NaN,NaN,NaN,Unit,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Country,Plant 1,-,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,Coordinates,Plant 1,#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Owner 1,Plant 1,-,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Ownership share - Owner 1,Plant 1,%,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2. Find out the unique names of all plants researched in this dataset

In [48]:
dataset['Plant'].unique()

array([nan, 'Plant 1', 'Plant 2'], dtype=object)

3. Filter the rows where "Name" is "Starting capacity"

In [4]:
###
dataset_starting_capacity = dataset[dataset["Name"] == "Starting capacity"].reset_index(drop=True)
dataset_starting_capacity.head()

,Column1,Name,Plant,Year,2016,Confidence level,Source,Source year,2017,Confidence level2,...,Source year66,2039,Confidence level67,Source68,Source year69,2040,Confidence level3,Source4,Source year,Column5
0,21.0,Starting capacity,Plant 1,GWh,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73.0,Starting capacity,Plant 2,GWh,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,125.0,Starting capacity,Plant 3,GWh,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,125.0,Starting capacity,Plant 4,GWh,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3. Get data for supplies plant capacity, per plant, for each year that the data is available in.

Hint: use melt function from the pandas package

In [5]:
###
dataset_starting_capacity_melted = pd.melt(
    dataset_starting_capacity,
    id_vars=["Plant"],
    var_name="Year",
    value_vars=range(2016, 2035),
    value_name="Starting capacity",
)

Get the distribution of plant starting capacities

In [9]:
dataset_starting_capacity_melted["Starting capacity"].describe()

count     24
unique    20
top        5
freq       3
Name: Starting capacity, dtype: int64

Plot a histogram of plant starting capacities

In [17]:
dataset_starting_capacity_melted["Starting capacity"].plot(kind="hist")

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

4. Save the dataset as a new sheet in the existing Excel

In [52]:
dataset_starting_capacity_melted.to_excel("data/20240407_BI_ETL_34_sanitized_ETL.xlsx", index=False, sheet_name="ETL_starting_capacity")

Bonus challenge: find out how to add a new sheet to existing Excel file. TTi

In [ ]:
###
with pd.ExcelWriter(
    input_output_directory / dataset_filename[vehicle_type],
    mode="a",
    if_sheet_exists="replace",
) as writer:
    dataset_enriched.to_excel(
        writer,
        index=False,
        sheet_name=f"{vehicle_type}_enriched",
    )  # save dataset

###